<script setup>
import CardItem from "./CardItem.vue"
import SupervisionIcon from "./icons/IconSupervision.vue"
import TeamBuilderIcon from "./icons/IconTeamBuilder.vue"
import KarmaIcon from "./icons/IconKarma.vue"
import CalculatorIcon from "./icons/IconCalculator.vue"
</script>

<template>
    <div class="grid place-items-center">
        <div class="mt-[85px] text-center mb-[78px] md:min-w-[900px] md:mx-[165px]">
            <div class="mb-9">
                <h3 class=" text-2xl font-[275] text-gray tracking-[0.167px] md:text-4xl md:tracking-[0.25px]">Reliable,
                    efficient delivery</h3>
                <h1 class=" text-gray text-2xl font-semibold tracking-[0.167px] md:text-4xl md:tracking-[0.25px]">Powered by
                    Technology</h1>
                <p
                    class="text-gray opacity-50 leading-[25px] mt-4 md:text-[15px] md:tracking-[0.104px] md:text-center md:w-[540px] md:ml-72">
                    Our Artificial Intelligence powered tools use millions of project data points
                    to ensure that your project is successful
                </p>
            </div>
            <div class="mt-10 grid place-items-center grid-cols-1 gap-y-6 cards">
                <CardItem class=" border-t-cyan card card__supervisor">
                    <template #heading>Supervisor</template>
                    <template #details> Monitors activity to identify project roadblocks</template>
                    <template #image>
                        <SupervisionIcon />
                    </template>
                </CardItem>
                <CardItem class=" border-t-red card card__team">
                    <template #heading>Team Builder</template>
                    <template #details>Scans our talent network to create the optimal team for your project</template>
                    <template #image>
                        <TeamBuilderIcon />
                    </template>
                </CardItem>
                <CardItem class=" border-t-orange card card__karma">
                    <template #heading>Karma</template>
                    <template #details>Regularly evaluates our talent to ensure quality</template>
                    <template #image>
                        <KarmaIcon />
                    </template>
                </CardItem>
                <CardItem class=" border-t-blue card card__calculator">
                    <template #heading>Calculator</template>
                    <template #details>Uses data from past projects to provide better delivery estimates</template>
                    <template #image>
                        <CalculatorIcon />
                    </template>
                </CardItem>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
@media only screen and (min-width: 768px) {
    .cards {
    width: 1110px;
    margin-top: 64px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 30px;
  }

  .card {
    grid-row: span 2;
  }

  .card__supervisor, .card__calculator {
    grid-row: 2 / span 2;
  }
}
</style>