<script setup></script>

<template>
    <div class="w-[311px] h-[222px] border border-white border-t-4 rounded-lg bg-white box md:w-[350px] md:h-[250px] md:flex md:flex-shrink-0">
        <div class=" text-left p-7">
            <h2 class=" text-xl font-semibold text-very-dark-blue">
                <slot name="heading"></slot>
            </h2>
            <p class="text-[13px] font-normal leading-[23px] text-gray opacity-50 tracking-[0.09px]">
                <slot name="details"></slot>
            </p>
            <div class=" my-[33px] flex flex-col">
                <div class="w-[57px] h-[57px] self-end">
                    <slot name="image"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
.box {
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}
</style>