<script setup></script>

<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64">
        <g fill="none">
            <path fill="#474F54" d="M64 0v41.25l-3.75 3.875H3.75L0 41.25V0z" />
        <path fill="#32393F" d="M64 0v41.25l-3.75 3.875H32V0z" />
        <path fill="#DADAE5" d="M22.625 50.875h18.75v11.25h-18.75z" />
        <path fill="#C9C9D3" d="M32 50.875h9.375v11.25H32z" />
        <path fill="#EFEFF4" d="M0 41.25h64v11.5H0z" />
        <path fill="#DADAE5" d="M32 41.25h32v11.5H32z" />
        <path fill="#EFEFF4" d="M15.125 60.25h33.75V64h-33.75z" />
        <path fill="#DADAE5" d="M32 60.25h16.875V64H32z" />
        <path fill="#549EF2"
            d="M20.75 7.5c-7.236 0-13.125 5.889-13.125 13.125S13.514 33.75 20.75 33.75s13.125-5.889 13.125-13.125S27.986 7.5 20.75 7.5zm0 18.75a5.631 5.631 0 01-5.625-5.625A5.631 5.631 0 0120.75 15a5.631 5.631 0 015.625 5.625 5.631 5.631 0 01-5.625 5.625z" />
        <g fill="#377FD2">
            <path
                d="M45.125 7.5H56.5v3.75H45.125zM37.625 7.5h3.75v3.75h-3.75zM45.125 22.5H56.5v3.75H45.125zM37.625 22.5h3.75v3.75h-3.75zM37.625 15H56.5v3.75H37.625zM37.625 30H56.5v3.75H37.625z" />
        </g>
    </g>
</svg></template>