<script setup>
import CardComponent from './components/CardComponent.vue';
</script>

<template>
  <div class=" w-full h-full font-Poppins">
    <CardComponent />
  </div>
</template>

<style scoped>
@media (min-width: 1024px) {}
</style>
